* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: rgb(222, 222, 222);
}

.heading {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.info-text {
  text-align: center;
  font-size: 18px;
}

.app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 50px;
  justify-content: center;
  padding: 50px;
}

.note {
  padding: 20px;
  border-radius: 15px;
  resize: none;
  box-shadow: 0 0 3px rgb(54, 54, 54, 0.3);
  font-size: 18px;
  height: 200px;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  background-color: #fff;
}

.note::placeholder {
  font-size: 16px;
  opacity: 40%;
}

.note:hover,
.note:focus {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  transition: all 200ms ease;
}

.btn {
  height: 200px;
  border-color: rgba(252, 252, 252, 0.37);
  background: rgba(252, 252, 252, 0.27);
  border-radius: 15px;
  cursor: pointer;
  font-size: 60px;
  color: rgb(0, 0, 0, 0.3);
  font-weight: 900;
}

.btn:hover {
  background: rgb(252, 252, 252, 0.5);
  color: #fff;
  transition: all 200ms ease;
}
