* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: rgb(222, 222, 222);
}

.heading {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.info-text {
  text-align: center;
  font-size: 18px;
}

.app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 50px;
  justify-content: center;
  padding: 50px;
}

.note {
  padding: 20px;
  border-radius: 15px;
  resize: none;
  box-shadow: 0 0 3px rgb(54, 54, 54, 0.3);
  font-size: 18px;
  height: 200px;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  background-color: #fff;
}
